@model AgroEcommerceLibrary.Buyer.Buyer

@{
    ViewBag.Title = "OrderHistory";
    Layout = "~/Views/Shared/Buyer_Layout.cshtml";
}



@using (Html.BeginForm("OrderHistory", "Buyer", FormMethod.Get))
{
    if (Session["BuyerCode"] != null)
    {
        <div style="margin-top:10px;text-align:center">
            <div class="col-lg-12">
                <div>
                    <a href="@Url.Action("OrderHistory", new { id="null"})"
                        class="btn buttton-group" style="background-color:coral;">All Orders</a>
                    @foreach (var item in Model.Statuslst)
                    {
                        @*<button type="button" class="btn  response" value="@item.StatusId">*@

                        <a href="@Url.Action("OrderHistory", new { id=@item.StatusId})"
                           ,data-id="@item.StatusId" class="btn buttton-group" style="background-color:coral;">@item.Status</a>
                        @*@Html.ActionLink("", "RemainingOrders", new { id = item.StatusId })*@

                        @*</button>*@


                    }
                </div>
            </div>
        </div>
        if (Model.Users.Count() == 0)
        {
            <h1 style="text-align:center;">No Record Found</h1>
        }
        else
        {
            <table class="table" style="margin-top:20px">

                <tr>

                    @*<th>
                            @Html.DisplayNameFor(model => model.OrderNo)
                        </th>*@

                    <th>
                        @Html.DisplayNameFor(model => model.MainImage)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ProductName)
                    </th>
                    @*<th>
                            @Html.DisplayNameFor(model => model.ProductQuantity)
                        </th>*@
                    @*<th>
                            @Html.DisplayNameFor(model => model.DeliveryAddress)
                        </th>*@

                    <th>
                        @Html.DisplayNameFor(model => model.Status)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ProcessDate)
                    </th>


                    <th>
                        @Html.DisplayNameFor(model => model.ExpectedDeliveryDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Total)
                    </th>

                    <th></th>
                </tr>


                @foreach (var item in Model.Users)
                {
                    <tr>

                        @*<td>
            @Html.DisplayFor(modelItem => item.OrderNo)
        </td>*@

                        <td>
                            @*@Html.DisplayFor(modelItem => @item.ProductImage)*@
                           

                            <img src="~/Content/Images/Product/@item.MainImage" style="width:150px;height:150px;"/>
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ProductName)<br />
                            @Html.DisplayNameFor(model => model.ProductQuantity) &nbsp;:&nbsp;
                            @Html.DisplayFor(modelItem => item.ProductQuantity) kg/lit<br />
                            @Html.DisplayFor(modelItem => item.ManufacturerName)

                        </td>

                        @*<td>
            @Html.DisplayFor(modelItem => item.DeliveryAddress)
        </td>*@

                        <td>
                            @Html.DisplayFor(modelItem => item.Status)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.date)
                        </td>


                        <td>
                            @Html.DisplayFor(modelItem => item.DeliveryDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Total)
                        </td>

                        <td>
                            @*@Html.ActionLink("Track", "TrachOrder", new { OrderNo = item.OrderNo })*@
                            <button type="button" class="btn btn-success response">
                                @Html.ActionLink("Track", "TrackOrder", new { OrderNo = item.OrderNo })

                            </button>

                        </td>
                    </tr>


                }
            </table>
        }
    }
    else
    {
        Response.Redirect("Account/Login");
    }
    @section scripts{
        @Scripts.Render("~/bundles/jqueryval")
     
    }
}
